
@media screen and (min-width: 480px) {
  body {
    background-color: red;
  }
}

main{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

body{
  background-color: black !important;
}